## Wordpress 

/index.php
/languages
/plugins/index.php
/themes/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Uploads
# /uploads/

# Log files
*.log

# plugins
/plugins

# themes
# /themes/*

