.site-footer {
    
    width: 100%;
    background-color: ($color__sagegreen); /* Country theme color */
    color: #333;
    padding: 20px;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.site-footer a:hover {
    background-color: #F0E68C; /* Sunflower Yellow */
    color: #333;
    border-radius: 5px;
}
